<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hours & Fare</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Jacques+Francois+Shadow&family=Kaisei+Tokumin&family=Maname&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <a href="../index.html">
            <div class="logo">
                <img src="../static/DuqInclineLogo (red).png" alt="Duquesne Incline Logo">
                <div class="title">
                    <h1>DUQUESNE</h1>
                    <h1>INCLINE</h1>
                    <p>serving Pittsburgh since 1877.</p>
                </div>
            </div>
        </a>
        <nav class="navpage">
            <ul>
                <li><a href="/views/hours.html">hours & fare</a></li>
                <li><a href="/views/transport.html">getting here</a></li>
                <li><a href="/views/about.html">about</a></li>
                <li><a href="/views/more.html">more info</a></li>
            </ul>
        </nav>
    </header>

    <main class="subpage">
        <h1>Hours & Fare</h1>

        <section class="info-section">
            <div class="info-row">
                <strong>Days</strong>
                <p>We are open 365 days of the year!</p>
            </div>

            <div class="info-row">
                <strong>Hours</strong>
                <div>
                    <p>6:30 a.m. to 12:30 a.m</p>
                    <p>No Reservations or Advance Tickets</p>
                </div>
            </div>

            <div class="info-row fares">
                <strong>Fares</strong>
                <div class="fare-boxes">
                    <div class="fare-card">
                        <h3>Children</h3>
                        <p>Ages 6–11</p>
                        <p>$1.25 Each Way<br>$2.50 Round Trip</p>
                    </div>
                    <div class="fare-card">
                        <h3>Adult</h3>
                        <p>Ages 12–64</p>
                        <p>$2.50 Each Way<br>$5.00 Round Trip</p>
                    </div>
                    <div class="fare-card">
                        <h3>Group Rates - 10 or More</h3>
                        <p>Adults $1.75 Each Way or $3.50 Round Trip</p>
                        <p>Children $1.00 Each Way or $1.75 Round Trip</p>
                    </div>
                </div>
            </div>

            <div class="info-row fares">
                <strong>Special Fares</strong>
                <div class="fare-boxes">
                    <div class="fare-card">
                        <h3>Children 5 and under</h3>
                        <p>Free entry with parent supervision</p>
                    </div>
                    <div class="fare-card">
                        <h3>College Students</h3>
                        <p>Free for the following university students with proper ID</p>
                    </div>
                    <div class="fare-card">
                        <h3>Senior Citizen</h3>
                        <p>Free when presenting a BLUE or YELLOW PRT card or a Senior ConnectCard</p>
                        <p><a href="../views/about.html">Details on policy</a></p>
                    </div>
                </div>
            </div>
            
            <div class="info-row" style="border-bottom: 0;">
                <strong>Valid University ID</strong>
                <div class="university-logos">
                    <div style="margin:15px;">
                        <img src="../static/pitt.png" alt="University of Pittsburgh logo">
                        <p>University of Pittsburgh</p>
                    </div>
                    <div style="margin:15px;">
                        <img src="../static/cmu.png" alt="Carnegie Mellon University logo">
                        <p>Carnegie Mellon University</p>
                    </div>
                    <div style="margin:15px;">
                        <img src="../static/chatham.png" alt="Chatham University logo">
                        <p>Chatham University</p>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>

<footer>
    <div class="footer-content">
        <div class="footer-left">
            <h1>DUQUESNE</h1>
            <h1>INCLINE</h1>
            <p class="footer-links">
                <a href="../index.html">Home</a> / <a href="/views/hours.html">Hours & Fare</a> / <a
                    href="/views/transport.html">Getting There</a> / <a href="/views/about.html">About</a> / <a
                    href="/views/more.html">More</a>
            </p>
            <p class="copyright">copyright © 2025</p>
        </div>
        <div class="footer-right">
            <p><strong>Phone Number:</strong> 412.381.1665</p>
            <p><strong>Fax:</strong> 412.381.1943</p>
            <p><a href="mailto:duq.incline@duquesneincline.org">duq.incline@duquesneincline.org</a></p>
            <p><strong>Mailing Address and Wheelchair Accessibility:</strong><br>
                1220 Grandview Ave.<br>
                Pittsburgh, PA. 15211
            </p>
        </div>
    </div>
</footer>

</body>

</html>